/* Component enclosing tag */
.Contact {
  padding: 1em;
  background: #555;
  width: 220px;
  display: flex;
  align-items: center;
}

/* Contact image */
.Contact .avatar {
  border-radius: 50%;
  margin-right: 1em;
  width: 48px;
  height: 48px;
}



/* Name */
.Contact .name {
  margin: 0 0 0.25rem;
  color: #eee;
  size: 5px;
}

/* Status text */
.Contact .status .status-text {
  color: #999;
  margin: 0;
}

/* Status (rounded&colored indicator) */
.Contact .status .status-online,
.Contact .status .status-offline {
  display: inline-block;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  margin-right: 6px;
}

.Contact .status .online {
  color: #aed581;
}

.Contact .status {
  color: #f4511e;
}

#star {
  height: 100px;
  width: 100px;
  background-color: red;
  animation: 
    pulse 3s ease infinite alternate, 
    nudge 5s linear infinite alternate;
  border-radius: 100%;
}

@keyframes pulse {
  0%, 100% {
    background-color: red;
  }
  50% {
    background-color: orange;
  }
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(150px, 0);
  }
  
  80% {
    transform: translate(-150px, 0);
  }
}


html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hard {
  display: inline;
}